/* Define estilos padrão para todos os elementos na página */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Define variáveis de cores globais */
:root {
    --cor-preto: #000;
    --cor-branca: #fff;
}

/* Estiliza o cabeçalho */
header {
    height: 120px;
    background-color: var(--cor-preto);
    margin-bottom: 100px;
}

/* Estiliza o cabeçalho e os links dentro dele */
header, a{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
    color: var(--cor-branca);
}

/*Estiliza o titulo 1*/
.titulo1{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

/*Estiliza o texto 1*/
.texto1{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.titex1 {
    background-color: #dfdfdf;
    padding-top: 15px;
    padding-bottom: 5px;
    border-radius: 30px;
    opacity: 1.0;
}

/*Estiliza o titulo 2*/
.titulo2 {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

/*Estiliza o texto 2*/
.texto2 {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.titex2 {
    background-color: #dfdfdf;
    padding-top: 15px;
    padding-bottom: 5px;
    opacity: 1.0;
    border-radius:30px;
    margin-bottom: 100px;
}

/* Estiliza botões */
.btns {
    display: flex;
    margin-bottom: 100px;
    justify-content: center;
}

/* Estiliza o contêiner do carrossel */
#carousel-container {
 
    margin: auto;
    overflow: hidden;
    margin-top: 100px;
}

/* Estiliza o contêiner do carrossel, os itens e as imagens */
#carousel-container, .carousel-item, img {
    width: 70%;
    height: 90%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    border-radius: 10px;
}

/* Estiliza o carrossel */
#carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

/* Estiliza os itens do carrossel */
.carousel-item {
    min-width: 100%;
    box-sizing: border-box;
}

/* Estiliza botões */
button {
    cursor: pointer;
    font-size: 20px;
}

/* Estiliza o botão de próximo */
#next-btn {
    margin-left: 10px;
}

/* Estiliza o botão de rolar para o topo */
#topButton {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
}

p {
    font-size: 22px;
    text-align: center;
    margin-left: 25px;
    margin-right: 25px;
}

#ajuda {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 100px;
    
}

.ajuda2 {
    background-color: #dfdfdf;
    padding-top: 15px;
    padding-bottom: 5px;
    opacity: 1.0;
    border-radius:30px;
    margin-bottom: 100px;
   
}

.texto-ajuda{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    color: var(--cor-preto);
}

.cvv, a{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    color: var(--cor-branca);
}

#cvv{
    color: var(--cor-preto);
}

.indice {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}


/*Responsividade*/

@media screen and(max-width: 2560px) {

/* Estiliza o cabeçalho */
header {
    height: 120px;
    background-color: var(--cor-preto);
    margin-bottom: 100px;
}

/* Estiliza o cabeçalho e os links dentro dele */
header, a{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
    color: var(--cor-branca);

    
}

}